hajimari:
  env:
    TZ: America/New_York
  persistence:
    data:
      enabled: false
  ingress:
    main:
      enabled: true
      ingressClassName: cilium
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        hajimari.io/enable: 'false'
      hosts:
        - host: &host home.kleinsorge.dev
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: hajimari-tls-certificate
          hosts:
            - *host
  hajimari:
    name: Joe
    title: Home
    lightTheme: chalk
    darkTheme: horizon
    showAppUrls: false
    showAppInfo: true
    showAppStatus: true
    customThemes:
      - name: danger
        backgroundColor: '#0c0e0c'
        primaryColor: '#eaebea'
        accentColor: '#d8323c'
    defaultEnable: true
    namespaceSelector:
      any: true
    globalBookmarks:
      - group: Homelab
        bookmarks:
          - name: Public GitHub repository
            url: https://github.com/joekleinsorge/freshlab
          - name: Hardware
            url: https://192.168.1.101:9090
      # - group: External services
      #   bookmarks:
      #     - name: Terraform Cloud
      #       url: https://app.terraform.io
      #     - name: Cloudflare
      #       url: https://dash.cloudflare.com
