dex:
  config:
    issuer: https://dex.kleinsorge.dev
    storage:
      type: kubernetes
      config:
        inCluster: true
    oauth2:
      skipApprovalScreen: true
    enablePasswordDB: true
    staticPasswords:
      - email: admin@kleinsorge.dev
        hash: "$2y$10$KI/Be/7SkUHIKbmdNQLoAOHpKXZgy/3a.Z8oWwqfoz6rI7Q5MW0EO"
        username: admin
        userID: "1"
    staticClients:
      - id: grafana-sso
        name: Grafana
        redirectURIs:
          - 'https://grafana.kleinsorge.dev/login/generic_oauth'
        secretEnv: GRAFANA_SSO_CLIENT_SECRET
  envFrom:
    - secretRef:
        name: dex-secrets
  ingress:
    enabled: true
    className: cilium
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      hajimari.io/appName: Dex
      hajimari.io/icon: mdi:key-chain
    hosts:
      - host: &host dex.kleinsorge.dev
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: dex-tls-certificate
        hosts:
          - *host
