apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-cache
spec:
  replicas: 1
  selector:
    matchLabels:
      name: flask-cache
  template:
    metadata:
      labels:
        name: flask-cache
    spec:
      containers:
        - name: cache-service
          image: xasag94215/flask-cache
          ports:
            - containerPort: 5000
              name: rest
---
apiVersion: v1
kind: Service
metadata:
  name: flask-cache
spec:
  selector:
    name: flask-cache
  ports:
    - port: 80
      targetPort: 5000
  type: LoadBalancer
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: flask-cache
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/ingress.class: cilium
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    hajimari.io/appName: Flask Cache
    hajimari.io/icon: flask
spec:
  rules:
    - host: &host flask.kleinsorge.dev
      http:
        paths:
          - path: / 
            pathType: Prefix
            backend:
              service:
                name: flask-cache
                port:
                  number: 80
  tls:
    - secretName: nginx-tls-certificate
      hosts:
        - *host
