frigate:
  strategyType: Recreate
  image:
    repository: ghcr.io/blakeblackshear/frigate
    pullPolicy: IfNotPresent
  env:
    TZ: UTC
  envFromSecrets: 
    - frigate-rstp-credentials
  extraVolumes: []
  extraVolumeMounts: []
  shmSize: 1Gi
  tmpfs:
    enabled: true
    sizeLimit: 1Gi
  config: |
    mqtt:
      enabled: False
    # mqtt:
    #   host: mqtt.server.com
    #   port: 1883
    #   topic_prefix: frigate
    #   client_id: frigate
    #   user: mqtt_user
    #   password: password
    #   stats_interval: 60
    # ffmpeg:
    #   hwaccel_args: preset-vaapi
    objects:
      track:
        - person
        - cat
        - dog
        - bird
    detectors:
      ov:
        type: openvino
        device: AUTO
        model:
          path: /openvino-model/ssdlite_mobilenet_v2.xml
    model:
      width: 300
      height: 300
      input_tensor: nhwc
      input_pixel_format: bgr
      labelmap_path: /openvino-model/coco_91cl_bkgr.txt
    cameras:
      front:
        ffmpeg:
          inputs:
            - path: rtsp://frigated:Frigated@192.168.1.110:554/cam/realmonitor?channel=1&subtype=1
              roles:
                - detect
                - rtmp
            - path: rtsp://frigated:Frigated@192.168.1.110:554/live
              roles:
                - record
        zones:
          zone_0:
            coordinates: 189,720,51,498,0,323,339,138,814,175,1280,292,1280,720
          zone_1:
            coordinates: 595,142,1007,208,1280,290,1280,176,1105,127,698,77,231,84,125,150
        detect:
          width: 1280
          height: 720
          fps: 5
      back:
        ffmpeg:
          inputs:
            - path: rtsp://frigated:Frigated@192.168.1.111:554/cam/realmonitor?channel=1&subtype=1
              roles:
                - detect
                - rtmp
            - path: rtsp://frigated:Frigated@192.168.1.111:554/live
              roles:
                - record
        detect:
          width: 1280
          height: 720
          fps: 5
    record:
      enabled: True
      retain:
        days: 7
        mode: motion
      events:
        retain:
          default: 20
          mode: motion
    snapshots:
      enabled: True
      retain:
        default: 20
  probes:
    liveness:
      enabled: true
      initialDelaySeconds: 30
      failureThreshold: 5
      timeoutSeconds: 10
    readiness:
      enabled: true
      initialDelaySeconds: 30
      failureThreshold: 5
      timeoutSeconds: 10
    startup:
      enabled: false
      failureThreshold: 30
      periodSeconds: 10

  service:
    # -- Type of Service to use
    type: ClusterIP
    # -- Port the Service should communicate on
    port: 5000
    ## Specify the nodePort value for the LoadBalancer and NodePort service types.
    ## ref: https://kubernetes.io/docs/concepts/services-networking/service/#type-nodeport
    ##
    # nodePort:
    ## Provide any additional annotations which may be required. This can be used to
    ## set the LoadBalancer service type to internal only.
    ## ref: https://kubernetes.io/docs/concepts/services-networking/service/#internal-load-balancer
    ##
    annotations: {}
    labels: {}

    # -- Set specific IP address for LoadBalancer. `service.type` must be set to `LoadBalancer`
    loadBalancerIP:

    # loadBalancerSourceRanges: []
    ## Set the externalTrafficPolicy in the Service to either Cluster or Local
    # externalTrafficPolicy: Cluster

    # default IP family to use for the service
    ipFamilyPolicy: SingleStack
    # ipFamilies for service
    ipFamilies: []

  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      hajimari.io/appName: frigate 
      hajimari.io/icon: video-camera
    hosts:
      - host: &host frigate.kleinsorge.dev
        paths:
          - '/'

    tls:
      - secretName: frigate-tls-certificate
        hosts:
          - *host

  persistence:
    config:
      # -- Enables persistence for the config directory
      enabled: false
      ## frigate data Persistent Volume Storage Class
      ## If defined, storageClassName: <storageClass>
      ## If set to "-", storageClassName: "", which disables dynamic provisioning
      ## If undefined (the default) or set to null, no storageClassName spec is
      ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
      ##   GKE, AWS & OpenStack)
      ##
      # storageClass: "-"
      ##
      ## If you want to reuse an existing claim, you can pass the name of the PVC using
      ## the existingClaim variable
      # existingClaim: your-claim
      # subPath: some-subpath

      # -- [access mode](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes) to use for the PVC
      accessMode: ReadWriteOnce

      # -- size/capacity of the PVC
      size: 100Mi

      # -- Do not delete the pvc upon helm uninstall
      skipuninstall: false

    media:
      # -- Enables persistence for the media directory
      enabled: false 
      ## frigate data Persistent Volume Storage Class
      ## If defined, storageClassName: <storageClass>
      ## If set to "-", storageClassName: "", which disables dynamic provisioning
      ## If undefined (the default) or set to null, no storageClassName spec is
      ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
      ##   GKE, AWS & OpenStack)
      ##
      # storageClass: "-"
      ##
      ## If you want to reuse an existing claim, you can pass the name of the PVC using
      ## the existingClaim variable
      # existingClaim: your-claim
      # subPath: some-subpath

      # -- [access mode](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes) to use for the PVC
      accessMode: ReadWriteOnce

      # -- size/capacity of the PVC
      size: 10Gi

      # -- Do not delete the pvc upon helm uninstall
      skipuninstall: false

   # -- Node Selector configuration
  nodeSelector: {}

  # -- Node toleration configuration
  tolerations: []

  # -- Set Pod affinity rules
  affinity: {}

