- name: Install packages for automatic upgrade
  ansible.builtin.dnf:
    name:
      - dnf-automatic
      - dnf-utils
    state: present

- name: Copy automatic upgrade config file
  ansible.builtin.copy:
    src: automatic.conf
    dest: /etc/dnf/automatic.conf
    mode: 0644
    validate: dnf-automatic --validate

- name: Enable automatic upgrade service
  ansible.builtin.systemd:
    name: dnf-automatic.timer
    state: started
    enabled: true
    daemon_reload: true

- name: Restart automatic upgrade service
  ansible.builtin.systemd:
    name: dnf-automatic.timer
    state: restarted