argo-cd:
  global:
    domain: argocd.kleinsorge.dev
  configs:
    params:
      server.insecure: true
      controller.diff.server.side: false
    cm:
      resource.ignoreResourceUpdatesEnabled: true
      resource.customizations.ignoreResourceUpdates.all: |
        jsonPointers:
          - /status
  server:
    ingress:
      enabled: true
      ingressClassName: cilium
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        external-dns.alpha.kubernetes.io/target: 192.168.1.227
        hajimari.io/appName: Argo CD
        hajimari.io/icon: kubernetes
      tls: true
    metrics: &metrics
      enabled: true
      serviceMonitor:
        enabled: true
  dex:
    enabled: false
  controller:
    metrics: *metrics
  repoServer:
    metrics: *metrics
  redis:
    metrics: *metrics
argocd-apps:
  applicationsets:
    root:
      namespace: argocd
      generators:
        - git:
            repoURL: &repoURL https://github.com/joekleinsorge/freshlab
            revision: &revision main 
            directories:
              - path: system/*
              - path: platform/*
              - path: global/*
              - path: apps/*
      template:
        metadata:
          name: '{{path.basename}}'
        spec:
          destination:
            name: in-cluster
            namespace: '{{path.basename}}'
          project: default 
          source:
            repoURL: *repoURL
            path: '{{path}}'
            targetRevision: *revision
          syncPolicy:
            automated:
              prune: true
              selfHeal: true
            retry:
              limit: 10
              backoff:
                duration: 1m
                factor: 2
                maxDuration: 16m
            syncOptions:
              - CreateNamespace=true
              - ApplyOutOfSyncOnly=true
              - ServerSideApply=true
argo-workflows:
  server:
    authModes:
      - server
      - client
    ingress:
      enabled: true
      className: cilium
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        external-dns.alpha.kubernetes.io/target: 192.168.1.227
        hajimari.io/appName: Argo Workflows
        hajimari.io/icon: source-branch
      hosts:
        - workflows.kleinsorge.dev
      tls:
        - hosts:
            - workflows.kleinsorge.dev
          secretName: argo-workflows-tls-certificate
# argo-rollouts:
#   server:
#     ingress:
#       enabled: true
#       className: cilium
#       annotations:
#         cert-manager.io/cluster-issuer: letsencrypt-prod
#       hosts:
#         - rollouts.kleinsorge.dev
#       tls:
#         - hosts:
#             - rollouts.kleinsorge.dev
#           secretName: argo-rollouts-tls-certificate
